[%-
# Currently the only two modes are debug and release, but this
# might be expanded in the future.
IF CPANEL.is_debug_mode_enabled();
    SET mode = 'debug';
    SET optimized = 0;
ELSE;
    SET mode = 'release';
    SET optimized = 1;
END;

SET disp_apps = {
    'whostmgrd' => 'WHM',
    'webmaild' => 'Webmail',
    'cpaneld' => 'cPanel',
};
SET disp_app  = disp_apps.item(app_name) || 'cPanel';

SET app_images = {
    'whostmgrd' => 'whm-logo_white.svg',
    'webmaild'  => 'webmail-logo.svg',
    'cpaneld'   => 'cpanel-logo.svg',
};

# get app modules based on $app_name
SET app_image = app_images.$app_name || app_images.cpaneld;
SET app_image = MagicRevision(get_theme_url("images/" _ app_image));
SET stylesheets = [ MagicRevision(get_theme_url('fonts/open_sans/open_sans.min.css')), MagicRevision(get_theme_url('style_v2_optimized.css')) ];
-%]
<!DOCTYPE html>
<html lang="[% locale.get_language_tag() %]" dir="[% locale.get_html_dir_attr() %]">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
        [%- IF entry_point == 'resetpass' -%]
        [% locale.maketext('Reset Password') %]
        [%- ELSIF entry_point == 'invitation' -%]
        [% locale.maketext('Set a password for your new account.') %]
        [%- END -%]
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1">

        <link rel="shortcut icon" href="[% MagicRevision(get_theme_url('favicon.ico')) FILTER html %]" type="image/x-icon" />

        <!-- EXTERNAL CSS -->
        [% FOR source IN stylesheets-%]
        <link href="[% source FILTER html %]" rel="stylesheet" type="text/css" />
        [%- END -%]
    </head>
    <body class="cp">
        <div id="login-wrapper">

            <div id="resetpass">
                <div id="login-container">
                    <div id="login-sub-container">

                        <div id="login-sub-header">
                            <img src="[% app_image %]" height="50" alt="logo" />
                        </div>

                        <div id="notify"
                            [%- IF !notice_text %]
                             style="display:none"
                            [% END -%]>
                            <div id="login-status"
                                 class="[% notice_class || 'info-notice' %]">
                                <div id="login-detail">
                                    <div id="login-status-icon-container">
                                        <span class="login-status-icon"></span>
                                    </div>
                                    <div id="[% notice_id || 'login-status-message' %]" class="login-status-message">
                                        [% notice_text %]
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="reset-sub">
                            [% PROCESS "templates/$page_to_show" %]
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="copyright">
            [% locale.maketext('Copyright©[output,nbsp][current_year] cPanel, L.L.C.') %]
            <br />
            <a href="https://go.cpanel.net/privacy" target="_blank">[% locale.maketext('Privacy Policy') %]</a>
        </div>
    </body>
</html>
