</div>
</div>
<div class="clear"></div>
</div>
</div>
<!-- close login-wrapper -->
</div>
</div>
</div>
</div>
</div>
<div class="copyright">[% locale.maketext('Copyright©[output,nbsp][current_year] cPanel, L.L.C.') %]
<br /><a href="https://go.cpanel.net/privacy" target="_blank">[% locale.maketext('Privacy Policy') %]</a></div>
</div>
</body>
</html>
