 <div id="notify">
    <div id="login-status"
         class="[% notice_class || 'error-notice' %]">
        <div id="login-detail">
            <div id="login-status-icon-container">
                <span class="login-status-icon"></span>
            </div>
            [% IF reason == 'unknown' %]
            <div id="unknown" class="login-status-message">
                [% locale.maketext('The system could not process the invitation due to an unknown error.') %]
            </div>
            [% ELSIF reason == 'bad-request' %]
            <div id="bad-request" class="login-status-message">
                [% locale.maketext('This invitation is not valid. It may have expired or the server administrator withdrew the invitation.') %]
            </div>
            [% ELSIF reason == 'suspended' %]
            <div id="suspended" class="login-status-message">
                [% locale.maketext('You cannot set your password because the [asis, cPanel] account that owns your [asis,Subaccount] is suspended.') %]
            </div>
            [% ELSIF reason == 'flooding' %]
            <div id="flooding" class="login-status-message">
                [% locale.maketext('You exceeded the maximum number of attempts to set your new account’s password. Try again in one hour.') %]
            </div>
            [% ELSE %]
            <div id="change-password-failure" class="login-status-message">
                [% locale.maketext('The system failed to update your account’s password. Additional information may exist in the server error log. Contact your server account provider, server administrator, or hosting provider.') %]
            </div>
            [% END %]
        </div>
    </div>
</div>
<span id="invitation-failure">[%# marker for testing%]</span>
