    <div class="error_notice">
        <div id="error-wrapper">
            <h1>[% locale.maketext('Security token updated.') %]</h1>
            <p>[% locale.maketext('The system has validated your login credentials. Redirecting …') %]</p>
            <form action="[% cp_security_token %][% goto_uri.html() %]" method="post" name="passthroughform">
            [% FOR pair=form_ref -%]
                <input type="hidden" name="[% pair.key.html() %]" value="[% pair.value.html() %]" />
            [% END -%]
            </form>
            <script type="text/javascript">
                document.passthroughform.submit();
            </script>
        </div>
    </div>
