<div id="reset-forms">
    <script type="text/javascript">
    function toggle(id) {
        var el = document.getElementById(id);
        if (el) {
            if (el.style.display === "none") {
                el.style.display = "";
            } else {
                el.style.display = "none";
            }
        }
    }
    </script>
    <form id="reset_form" novalidate action="resetpass" method="post">
        <!--prevent submit on Enter if login button is disabled-->
        <input style="display:none" />

        <input type="hidden" name="user" value="[% user.html() %]" />
        <input type="hidden" name="action" value="seccode" />
        <input type="hidden" name="debug" value="[%CPANEL.is_debug_mode_enabled() ? '1' : '' %]">

        <div class="input-req-login">
            <label for="confirmation">[% locale.maketext('Security Code') %]</label>
        </div>
        <div class="input-field-login no-icon">
            <input name="confirm" type="text" class="std_textbox" id="confirmation" maxlength="16" required autocomplete="off" autofocus>
        </div>
        <div class="pnlResend">
            <a id="btnResend"
               class="lnkResend"
               href="?user=[% user.html() %]&action=resend">
                [% locale.maketext('Send Security Code Again') %]
            </a>
            <a onclick="toggle('msgResendMore')" class="btnMore"
                  title="[% locale.maketext('More') %]">
                (?)
            </a>
            <span id="msgResendMore" style="display:none">
                [% locale.maketext('If you have not received the email that contains the security code, check your contact email account’s spam. Some email providers may identify the password-reset email as spam. If necessary, you can request the server send another email.') %] <a id="btnCloseMore" class="btnMore" onclick="toggle('msgResendMore')">[% locale.maketext('Close') %]</a>
            </span>
        </div>
        <div id="reset-note" class="reset-input-note">
            <p>[% locale.maketext('[output,strong,Please keep this browser window open.]') %]</p>
            <p>[% locale.maketext('You must enter the code in the same browser from which you initiated the password reset request.') %]</p>
        </div>
        <div class="controls">
            <div id="confirm-submit-btn" class="login-btn">
                <button type="submit" id="confirm-submit">[% locale.maketext('Submit') %]</button>
            </div>
            <div class="reset-pw">
                <a href="/">[% locale.maketext('Cancel') %]</a>
            </div>
        </div>
        <div class="clear"></div>
    </form>
    <span id="resetpass-seccode">[%# marker for testing%]</span>
</div>
