<div>
    <p>[% locale.maketext('The system failed to reset your account’s password. Additional information may exist in the server error log. Contact your server administrator or hosting provider.') %]</p>
    <span id="resetpass-failure">[%# marker for testing%]</span>
</div>
