<div>
    <p>[% locale.maketext('Your account is suspended. Please contact the billing or support department or your server administrator.') %]</p>
    <span id="resetpass-suspended">[%# marker for testing%]</span>
</div>
