<div class="form-container">
    <p id="cpanel-services" >[% locale.maketext('Your change affects the following account services: [list_and,_1]', service_names) %]</p>

    [% FOREACH step IN next_steps %]
        [% IF step.value.services.size() %]
    <p id="[% step.key %]-instructions">[% step.value.instructions %]</p>
        [% END %]
    [% END %]

    [% FOREACH login IN logins -%]
    <div class="controls">
        <div class="login-btn">
            <a class="loginbtn" href="[% login.url %]" id="[% login.id %]">
                [% login.button_text %]
            </a>
        </div>
    </div>
    [% END %]

    <span id="resetpass-success">[%# marker for testing%]</span>
</div>
